body{
    padding: 0px;
    margin: 0px;
    font-family: "Assitatance" sans-serif;
    overflow-x: hidden;

}
/*company- about us page*/
.aboutimage{
   background-color: grey;
   text-align: center;
   color: #fff;
   min-height: 70vh;
}
.abt{
    padding: 200px;
}
.abt h1{
    font-size: 40px;
    font-weight: 800px;
}
.abt p{
    font-size: 21px;
    font-weight: 400px;
}
.values1{
    background-color: #eaf1e7;
}
#text1{
    padding: 20px;
    margin: 20px 20px 20px 20px;
    font-weight: 400px;
    line-height: 1.4;
     background-color: #eaf1e7;
}
#text2{
    padding: 80px;
    width: 100%;
    margin: 20px 20px 20px 20px;
    font-weight: 400px;
    line-height: 1.4;
    background-color: #143369;
    color: #fff;
}
#text3{
    padding: 30px;
    margin: 20px 20px 20px 20px;
    font-weight: 400px;
    line-height: 1.4;
}
#text4{
    padding: 30px;
    margin: 20px 20px 20px 20px;
    font-weight: 400px;
    line-height: 1.4;
    background-color: #fff;
}
.values1 .values{
    margin-right: 30px;
}
/*  who we are */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
/* history*/
.history{
    background-color: rgb(36, 35, 35); 
    color: #fff; 
}
.history h1{
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

/*
 .history.col-md-8 {
    font-size: 18px;
}
*/
/**/

.container1 {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

header {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 60px;
}

.counters {
    background-color: #eaf1e7;
    color: #143369;
    padding: 40px 20px;
}

.counters .container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters p {
    color: #ababab;
    margin-bottom: 5px;
}
h5{
    font-size: 17px;
}
.btnh{
     padding: 20px 25px 20px 25px; margin-top: 50px; 
     background-color: red;
     border: none;
     color: #ffffff;
     border-radius: 3px;
}
.counters .counter {
    font-size: 45px;
    margin: 5px 0;
    font-weight: bold;
}

@media (max-width: 700px) {
    .counters .container1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .counters .container1 > div:nth-of-type(1),
    .counters .container1 > div:nth-of-type(2) {
        padding-bottom: 20px;
    }
}
.wrapper{
    background-color: #143369;
    padding: 60px;
    font-weight: 400px;
    font-size: 37px;
}
.logos{
        background: url("images//01.png");
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 40vh;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
}
/* footer*/
.footer{
    background-color: #0a3057;
    padding: 40px 20px 10px 20px;
    color: #7b8596;
    font-size: 16px;
}

/* company- team page */
.containers {
    position: relative;
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
}

.img1 {
    width: 99%;
    height: auto;
    opacity: 1;
    
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
