*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
body{
    overflow-x: hidden;
}
/*styles for the navigation bar*/
nav{
    background: #1e1e1e;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
   float: left;
   line-height: 70px;
   padding-left: 60px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    margin: 0 5px;
}
nav ul li ul{
    background: #2e2e2e;
}
nav ul li a{
    color: #a0a0a0;
    text-decoration: none;
    line-height: 70px;
    font-size: 14px;
    padding: 8px 15px;
}
.active{
    color: #ffffff;
}
nav ul li a:hover{
    color: #ffffff;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #636363;
}
nav ul ul li a{
    line-height: 50px;
}
.show,.icon, .input1{
    display: none;
}
@media all and (max-width: 968px){
    nav ul{
        margin-right: 0px;
        float: left;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    .show{
        display: block;
        color: #a0a0a0;
        font-size: 14px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    } 
    .show:hover{
       color: #ffffff; 
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 50px;
        font-size: 25px;
        cursor: pointer;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}
.topnav{
    background-image:  url("sky-images//shutterstock_350092247-800x480.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}
/*styles for hero image text*/
.form-container input[type=text], .form-container input[type=email]{
    width: 100%;
    padding: 13px;
    margin: 5px 0 12px 0;
    background: rgba(49, 49, 49, 0.8);
    color: #adadad;
    border: none;
    border-radius: 2px;
    outline: none;
}
#message{
    width: 100%;
    margin: 5px 0 12px 0;
    background: rgba(49, 49, 49, 0.8);
    color: #adadad;
    border: none;
    padding: 13px;
    border-radius: 2px;
    outline: none;
}
.submit{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #143369;
    color: #ffffff;
    border: none;
}
.form-container{
    background-color: #212121;
    padding: 25px;
    border-radius: 5px;
}
.button1{
    padding: 12px 16px 12px 16px;
    background-color: #e53d34;
    border: none;
    color: #ffffff;
    border-radius: 24px;
    cursor: pointer;
}
.text-section{
    padding-top: 100px;
}
.form-section{
    padding-top: 20px;
}
/*styles for the next section*/
.map-container{
    background-color: #ffffff;
    padding: 30px;
    height: 300px;
    margin: 20px 20px 0 20px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
}
.map-background{
    background: url("sky-images//hp-1-map-1.jpg");
    background-size: cover;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
}
/*styles for three grid section*/
.three-grid-section{
    margin-top: 400px;
    margin-bottom: 100px;
}
@media all and (max-width: 968px){
    .three-grid-section{
        margin-top: 700px;
    }
    body{
        overflow-x: hidden;
    }
}
/*styles for two grid section*/
.two-grid-section{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("sky-images//ronan-680083-unsplash.jpg");
    min-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.four-grid-system{
   min-height: 200px;
}
.image2{
    background-image:linear-gradient(rgba(20, 51, 105, 0.6), rgba(20, 51, 105, 1)), url("sky-images//julie-north-720432-unsplash-300x211.jpg");
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image3{
    background-image:linear-gradient(rgba(20, 51, 105, 0.6), rgba(20, 51, 105, 1)), url("sky-images//julie-north-720432-unsplash-300x211.jpg");
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image4{
    background-image:linear-gradient(rgba(20, 51, 105, 0.6), rgba(20, 51, 105, 1)), url("sky-images//julie-north-720432-unsplash-300x211.jpg");
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image5{
    background-image:linear-gradient(rgba(20, 51, 105, 0.6), rgb(61, 95, 155)), url("sky-images//julie-north-720432-unsplash-300x211.jpg");
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.two-tier-grid-system{
    min-height: 500px;
    background-color: #143369 ;
}
.button2{
    padding: 12px 16px 12px 16px;
    border: none;
    background: #e53d34;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
}
.button3{
    padding: 12px 16px 12px 16px;
    background: none;
    border: 1px solid #e53d34;
    border-radius: 5px;
    color: #ffffff;
}